.rotated {
    -webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
p{
    margin-bottom: 0!important;
}
/* خط 501 پاک شه  */
.profile-close-icon{

    margin-left: 6px;
    color: gray;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}
.P-0{
    padding: 0px!important;
}
.border-none{
    border: none!important;

}


.header-myshop{
    width: 100%;
    height: 40px;
    border-bottom: gray solid 0.7px;
}
.title-container{
    display: flex;
    height: 100%;

}

.my-shop{
    padding: 45px 50px;
}
.my-shop .search-bar-1{
    height: 25px; 
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: gray;
    border: gray solid 1px;

    border-radius: 5px;
    padding:0 5px;
}

.search-bar-1 .search-input{  
    color: black;
    width: 350px; 
    font-size:12px;
    background: transparent;
    border: none;
    padding-right: 5px;
}
.search-bar-1 .search-input::placeholder{
    color:white;
}


.title-container> .title:first-child{
    border-radius: 0 10px 0 0;
}
.title-container> .title:last-child{
    border-radius:  10px 0 0 0;
}

.title-container .title{
    border: 0.7px solid gray;
    /* flex: 1; */
    text-align: center;
    color: black;
    height: 100%;
   
   
}
.title-container .title p{
  padding: 5px 10px;
   
   
}
.title-container .title > div{
    border-bottom: 4px transparent solid;
    height: 100%;
}
.title-container .title:hover > div,.title-container .title-active > div{
    color:#1E88E5;
    border-bottom: 4px #1E88E5 solid;
    cursor: pointer;
}
.m-0{
    margin: 0px!important;
}
.search-result{
    border :0.5px solid #DFE1E8; 
    overflow: hidden;
    border-radius: 7px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-result div{ 
    background-color:white; 
    display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  } 
  .search-result div p:nth-child(1) { 
    flex:4;
    text-align: right;
    padding-right:10px;
    } 
  .search-result div p:nth-child(2) { 
  flex:2;
  padding-left:10px;
  color:#1E88E5;
  } 
  .search-result div:nth-child(even) { 
    background-color:transparent; 
  } 
  .add-product{
      text-align: right;
      display: flex;
      flex-direction: column;
      font-size: 13px;
      
  }

  .add-product .attr{
      display: flex;
      padding-top: 4px;
      padding-bottom: 4px;

  }
  
  .add-product .attr>div{
      display: flex;
      flex-flow: wrap;
  
}
.select{
    color: white;
    margin-bottom: 7px;
    margin-right: 7px;
    background: #5E6367;
   
    border-radius:5px;
    
    border :0.5px solid #707070; 
    height: 25px;
}
.select option{
    background-color: #5E6367;
    font-size: 12px;
    color: gray;
}
input:focus {
    outline: none;
}
.cost{
    display: flex;
    justify-content:flex-start ;
    min-width: 100px;
  
}



.cost>.blue-border{
    margin-right: 5px;
    display: flex;
    width: 100px;
   border-radius: 5px;
   border: 0.5px solid #1E88E5;
   margin-bottom: 10px;
   height: 25px;
 }
 .cost>.blue-border>input{
     padding-left: 5px;
     padding-right: 5px;
     border: none;
    width: 100%;
    color: gray;
    background-color: transparent;
    direction: ltr;
 }
 .number{
    display: flex;
    justify-content:flex-start ;
    align-items: baseline;
    
}


.number>.blue-border{
    
    margin-right: 5px;
    display: flex;
    align-items: center;
    width: 50px;
   border-radius: 5px;
   border: 0.5px solid #1E88E5;
   padding: 0 3px;
   height: 25px;
 }
 .number>.blue-border>input{
     padding-left: 5px;
     padding-right: 5px;
     border: none;
    width: 100%;
    color: gray;
    background-color: transparent;
    direction: ltr;
 }
 .pb-10{
     padding-bottom: 10px;
 }
 .colflex{
     display: flex;
     flex-direction: column;
 }

.dis-none{
    display: none;
}
.header-table{
    display: flex;
    
}
  
 
 
@media only screen and (max-width:768px) {
    .title-container .title { 
       font-size: 12px; 
   }
   .title-container .title {
    
    flex: 1;
   }
   .my-shop{
    padding: 10px 10px;
}
.center-page.responsive{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
.orangebtn2.m-0.responsive{
  width: 80%;
 

}
.search-result div p:nth-child(1) { 
    flex:4;
    text-align: right;
    padding-right:10px;
    padding-left: 10px;
    } 
  .search-result div p:nth-child(2) { 
 display: none;
  } 
  .nav-link{
    padding: 5px!important;
}
.order-table{
    font-size: 8px;
}
}
